ansible==3.3.0
ansible-base==2.10.9
asgiref==3.3.4
cffi==1.14.5
cryptography==3.4.7
Django==3.2.1
djangorestframework==3.12.4
IPy==1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
nmap==0.0.1
packaging==20.9
pycparser==2.20
pyparsing==2.4.7
pytz==2021.1
PyYAML==5.4.1
sqlparse==0.4.1
